@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.container{
    height: 100vh;
    display: flex;
}
.info{
    width: 235px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info-personal{
    margin-bottom: 30px;
}
.info-personal .foto{
    border-radius: 50%;
    display:block;
    margin: auto;
    border: 5px solid #484848;
}
.info-personal span{
    font-size: 20px;
    color: #fff;
}
.info-personal p{
    font-size: 16px;
    color: #8a8a8a;
}
nav ul{
    list-style: none;
}
nav ul li{
    margin: 15px 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover{
    color: #35dcd6;
}
.seleccionado{
    color: #35dcd6;
}
.portada{
    width: 100%;
    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)),url(img/foto-portada.jpg.jpeg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.portada h1{
    font-size: 68px;
    color: #fff;
}
.portada h1 .rojo{
    color: #3543dc;
}
.portada p{
    font-size: 32px;
    color: #fff;
}
.boton{
    display: block;
    width: 180px;
    margin: 0 auto;
    background-color: transparent;
    border:4px solid #353bdc;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
}
.boton:hover{
    background-color: #000;

}