body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:Ubuntu,sans-serif;
    color:#0de90d;
}

h1 {
    font-size: 2rem;
    color:#321236;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid rgb(27, 25, 25);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

header, footer, footer a {
    text-align: center;
    background-color:#0497ec;
    color: whitesmoke;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: 0.75rem;
}